@page
@model Sunny.Pages.Info_Alumno.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AlumnoPers</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AlumnoPers.Id" />
            <div class="form-group">
                <label asp-for="AlumnoPers.Nombre" class="control-label"></label>
                <input asp-for="AlumnoPers.Nombre" class="form-control" />
                <span asp-validation-for="AlumnoPers.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlumnoPers.CURP" class="control-label"></label>
                <input asp-for="AlumnoPers.CURP" class="form-control" />
                <span asp-validation-for="AlumnoPers.CURP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlumnoPers.Nacionalidad" class="control-label"></label>
                <input asp-for="AlumnoPers.Nacionalidad" class="form-control" />
                <span asp-validation-for="AlumnoPers.Nacionalidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlumnoPers.Fecha_nacimiento" class="control-label"></label>
                <input asp-for="AlumnoPers.Fecha_nacimiento" class="form-control" />
                <span asp-validation-for="AlumnoPers.Fecha_nacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlumnoPers.Genero" class="control-label"></label>
                <input asp-for="AlumnoPers.Genero" class="form-control" />
                <span asp-validation-for="AlumnoPers.Genero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlumnoPers.Discapacidad" class="control-label"></label>
                <input asp-for="AlumnoPers.Discapacidad" class="form-control" />
                <span asp-validation-for="AlumnoPers.Discapacidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
