@page
@model Sunny.Pages.MadreINFO.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Agregar Informacion del la Madre</h1>

<h4>Infromacion del Madre</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Info_Madre.Nombre_Madre" class="control-label"></label>
                <input asp-for="Info_Madre.Nombre_Madre" class="form-control" />
                <span asp-validation-for="Info_Madre.Nombre_Madre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Info_Madre.CURP" class="control-label"></label>
                <input asp-for="Info_Madre.CURP" class="form-control" />
                <span asp-validation-for="Info_Madre.CURP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Info_Madre.Nacionalidad" class="control-label"></label>
                <input asp-for="Info_Madre.Nacionalidad" class="form-control" />
                <span asp-validation-for="Info_Madre.Nacionalidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Info_Madre.Fecha_nacimiento" class="control-label"></label>
                <input asp-for="Info_Madre.Fecha_nacimiento" class="form-control" />
                <span asp-validation-for="Info_Madre.Fecha_nacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Info_Madre.Ocupacion" class="control-label"></label>
                <input asp-for="Info_Madre.Ocupacion" class="form-control" />
                <span asp-validation-for="Info_Madre.Ocupacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Info_Madre.Ingresos" class="control-label"></label>
                <input asp-for="Info_Madre.Ingresos" class="form-control" />
                <span asp-validation-for="Info_Madre.Ingresos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Index">volver al inicio</a>
    <br />
    !ESTE ES EL ULTIMO FORMATO A LLENAR¡
    <br />
    !ESPERE A QUE LOS ADMINISTRADORES CORROBOREN LA INFROMACION DEL ALUMNO REGISTRADO¡
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
