@page
@model Becas_Escolar.Pages.Madre_Service.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Datos_Familiar_Madre</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Datos_Familiar_Madre.Nombre_Madre" class="control-label"></label>
                <input asp-for="Datos_Familiar_Madre.Nombre_Madre" class="form-control" />
                <span asp-validation-for="Datos_Familiar_Madre.Nombre_Madre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datos_Familiar_Madre.CURP" class="control-label"></label>
                <input asp-for="Datos_Familiar_Madre.CURP" class="form-control" />
                <span asp-validation-for="Datos_Familiar_Madre.CURP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datos_Familiar_Madre.Nacionalidad" class="control-label"></label>
                <input asp-for="Datos_Familiar_Madre.Nacionalidad" class="form-control" />
                <span asp-validation-for="Datos_Familiar_Madre.Nacionalidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datos_Familiar_Madre.Fecha_nacimiento" class="control-label"></label>
                <input asp-for="Datos_Familiar_Madre.Fecha_nacimiento" class="form-control" />
                <span asp-validation-for="Datos_Familiar_Madre.Fecha_nacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datos_Familiar_Madre.Ocupacion" class="control-label"></label>
                <input asp-for="Datos_Familiar_Madre.Ocupacion" class="form-control" />
                <span asp-validation-for="Datos_Familiar_Madre.Ocupacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datos_Familiar_Madre.Ingresos" class="control-label"></label>
                <input asp-for="Datos_Familiar_Madre.Ingresos" class="form-control" />
                <span asp-validation-for="Datos_Familiar_Madre.Ingresos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
